<div class="grey-bg">
  <div class="set-width">
    <section id="aboutus">
      <article>
        <header>About Us</header>
        <p><strong>Red Letter Content</strong> is a full-service content
          provider—we will create and edit your print
          or digital product from start to finish or at any point in-between.
          We are committed to providing dynamic,
          effective content that fits your exact needs.</p>
        <p>Our educational publishing background makes us adept at handling
          multi-part projects involving
          complex elements. We are masters at anticipating and avoiding the
          many roadblocks that arise when handling
          many complicated moving pieces.</p>
        <p><strong>Red Letter Content</strong> is committed to maintaining
          excellence in everything we produce.</p>
      </article>
      <div class="bio sheryl">
        <header><span>Sheryl Posnick</span>, President</header>
        <p>Sheryl Posnick is the founder and president of Red Letter Content.
          She has been in all corners of
          educational publishing, from writing math and reading curriculum, to
          planning and developing a yearly book
          list, to line editing career and test preparation books, to
          directing an editorial program. She has acted as
          the Book Program Director at LearningExpress, LLC, as an Editor at
          Kaplan Publishing, and as the
          Math Editor as part of Kaplan's curriculum team. Sheryl also has led
          creative writing workshops as part of
          the New York Writers' Coalition. She has a B.A. in English from
          Tufts University.</p>
      </div>
    </section>
  </div>
</div>

<div class="separator first">
  <div class="set-width">
    <div class="social-icons">
      <ul>
        <li><a class="google-plus" title="google+"
               href="https://plus.google.com/105509027062782512664/posts"
               target="_blank">google+</a></li>
        <li><a class="facebook" title="facebook"
               href="https://www.facebook.com/redlettercontent"
               target="_blank">facebook</a></li>
        <li><a class="twitter" title="twitter"
               href="https://twitter.com/redltrcontent"
               target="_blank">twitter</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="resetfloat"></div>
