<div class="grey-bg">
  <div class="set-width">
    <section id="contact">
      <header>Contact Us</header>
      <article>
        <p>
          phone: (347) 470-2506<br/>
          email: <a href="mailto:info@redlettercontent.com">info@redlettercontent.com</a>
        </p>
      </article>
    </section>
  </div>
</div>

<div class="separator first">
  <div class="set-width">
    <div class="social-icons">
      <ul>
        <li><a class="google-plus" title="google+"
               href="https://plus.google.com/105509027062782512664/posts"
               target="_blank">google+</a></li>
        <li><a class="facebook" title="facebook"
               href="https://www.facebook.com/redlettercontent" target="_blank">facebook</a>
        </li>
        <li><a class="twitter" title="twitter"
               href="https://twitter.com/redltrcontent"
               target="_blank">twitter</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="resetfloat"></div>
