<div class="grey-bg main">
  <div class="set-width">
    <section id="main">
      <header>DYNAMIC, EFFECTIVE CONTENT</header>
      <article><p>that captivates your target audience is more than our
        mission&#151;it's our passion. We're a team of
        expert writers, editors, and project managers who understand the power
        of words and ideas, and we're committed
        to helping you achieve your project goals.</p>
        <p class="tagline">Great content still matters&#151;it always
          will.</p></article>
    </section>
  </div>
</div>
<!-- end intro content -->

<!-- seperator -->
<div class="separator first">
  <div class="set-width">
    <div class="left">Project Management</div>
    <div class="social-icons">
      <ul>
        <li><a class="google-plus" title="google+"
               href="https://plus.google.com/105509027062782512664/posts"
               target="_blank">google+</a></li>
        <li><a class="facebook" title="facebook"
               href="https://www.facebook.com/redlettercontent"
               target="_blank">facebook</a></li>
        <li><a class="twitter" title="twitter"
               href="https://twitter.com/redltrcontent"
               target="_blank">twitter</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="resetfloat"></div>
<!-- end separator -->

<div class="blue-bg">
  <div class="set-width">
    <section id="project-management">
      <h2><a name="project-management">Project Management</a></h2>
      <article>We're committed to making your vision a reality. Our roots are
        in educational publishing, and over the
        years we've successfully handled large and small projects of varying
        scope and complexity. We will develop your
        ideas, mind every last detail, handle all the issues that arise, and
        help you achieve your project goals.
      </article>
    </section>
  </div>
</div>

<!-- seperator -->
<div class="separator">
  <div class="set-width">
    <div class="left">Print and Digital Content Development</div>
    <div class="right">Project Management</div>
  </div>
</div>
<div class="resetfloat"></div>
<!-- end separator -->

<div class="purple-bg">
  <div class="set-width">
    <section id="print-and-digital">
      <h2><a name="print-and-digital">Print and Digital Content
        Development</a></h2>
      <article><strong>Red Letter Content</strong> has an expert team of
        writers and content creators across multiple
        disciplines. We deliver thoughtful and engaging content that is always
        thoroughly vetted and aligned to your
        precise specifications and our high standards.
      </article>
    </section>
  </div>
</div>

<!-- seperator -->
<div class="separator">
  <div class="set-width">
    <div class="left">Copyediting and Proofreading</div>
    <div class="right">Print and Digital Content Development</div>
  </div>
</div>
<div class="resetfloat"></div>
<!-- end separator -->

<div class="orange-bg">
  <div class="set-width">
    <section id="copyediting">
      <h2><a name="copyediting">Copyediting and Proofreading</a></h2>
      <article>Attention to the smallest detail is a part of everything we do,
        and there's nothing we love more than a
        serious editing challenge. We deliver nothing less than the most
        meticulously reviewed content, based on years
        of rigorous copyediting and proofreading experience with complex
        manuscripts. Our areas of expertise include
        science, medicine, mathematics, English, business, and more.
      </article>
    </section>
  </div>
</div>

<!-- seperator -->
<div class="separator">
  <div class="set-width">
    <div class="left">Proposal Development</div>
    <div class="right">Copyediting and Proofreading</div>
  </div>
</div>
<div class="resetfloat"></div>
<!-- end separator -->

<div class="red-bg">
  <div class="set-width">
    <section id="proposal-development">
      <h2><a name="proposal-development">Proposal Development</a></h2>
      <article>Getting published takes more than a great idea—you also need a
        winning proposal. That's where we come in.
        We'll work with you to research and develop a can't miss proposal,
        complete with all the analysis and depth your
        idea needs to be taken seriously.
      </article>
    </section>
  </div>
</div>

<!-- seperator -->
<div class="separator">
  <div class="set-width">
    <div class="left">Ghostwriting</div>
    <div class="right">Proposal Development</div>
  </div>
</div>
<div class="resetfloat"></div>
<!-- end separator -->

<div class="green-bg">
  <div class="set-width">
    <section id="ghostwriting">
      <h2><a name="ghostwriting">Ghostwriting</a></h2>
      <article>We can help you choose just the right words to express your
        ideas. From short pieces to long-form writing
        projects, we'll work with you side by side—and line by line.
      </article>
    </section>
  </div>
</div>

<!-- seperator -->
<div class="separator">
  <div class="set-width">
    <div class="left">XML Tagging</div>
    <div class="right">Ghostwriting</div>
  </div>
</div>
<div class="resetfloat"></div>
<!-- end separator -->

<div class="blue-bg">
  <div class="set-width">
    <section id="xml-tagging">
      <h2><a name="xml-tagging">XML Tagging</a></h2>
      <article>Effective digital publishing and online content management
        strategies are critical for success. Our team
        of XML data conversion specialists will tag your documents and provide
        you with clean, expertly prepared files
        for cross-platform use.
      </article>
    </section>
  </div>
</div>

<!-- seperator -->
<div class="separator">
  <div class="set-width"><!-- <div class="left"></div> -->
    <div class="right">XML Tagging</div>
  </div>
</div>
