<div class="grey-bg">
  <div class="set-width">
    <section id="services">
      <header>Services</header>
      <article>
        <p>Our areas of expertise include:</p>
        <ul>
          <li><a href="index.html#project-management">Project Management</a>
          </li>
          <li><a href="index.html#print-and-digital">Print and Digital Content
            Development</a></li>
          <li><a href="index.html#proposal-development">Proposal Development</a>
          </li>
          <li><a href="index.html#copyediting">Copyediting</a></li>
          <li><a href="index.html#copyediting">Proofreading</a></li>
          <li><a href="index.html#ghostwriting">Ghostwriting</a></li>
          <li><a href="index.html#xml-tagging">XML Tagging</a></li>
        </ul>
        <p>Rates are on a project-by-project basis.</p>
      </article>
    </section>
  </div>
</div>

<div class="separator first">
  <div class="set-width">
    <div class="social-icons">
      <ul>
        <li><a class="google-plus" title="google+"
               href="https://plus.google.com/105509027062782512664/posts"
               target="_blank">google+</a></li>
        <li><a class="facebook" title="facebook"
               href="https://www.facebook.com/redlettercontent" target="_blank">facebook</a>
        </li>
        <li><a class="twitter" title="twitter"
               href="https://twitter.com/redltrcontent"
               target="_blank">twitter</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="resetfloat"></div>
