<div class="resetfloat"></div>
<footer id="footer">
  <div class="set-width">
    <div class="left">
      &copy;2017 Red Letter Content. All Rights Reserved. Original Web Design by
      <a href="http://www.pathamm.com/portfolio" target="_blank">Pat Hamm</a>.
    </div>
    <div class="right">
      <a href="/">Home</a>
      <a href="aboutus.html">About Us</a>
      <a href="services.html">Services</a>
      <a href="contact.html">Contact</a>
    </div>
  </div>
</footer>
<div class="resetfloat"></div>
</div>
<script src="js/app.js"></script>
</body>
</html>
